// Icons
{{#block "sprites"}}
{{#each sprites}}
${{strings.name}}: ({{px.x}}, {{px.y}}, {{px.offset_x}}, {{px.offset_y}}, {{px.width}}, {{px.height}}, {{px.total_width}}, {{px.total_height}}, '{{{escaped_image}}}', '{{name}}', );
{{/each}}
{{/block}}

// Spritesheet
{{#block "spritesheet"}}
${{retina_spritesheet_info.strings.name_image}}: '{{{retina_spritesheet.escaped_image}}}';
${{spritesheet_info.strings.name_sprites}}: ({{#each sprites}}${{strings.name}}, {{/each}});
${{spritesheet_info.strings.name}}: ({{spritesheet.px.width}}, {{spritesheet.px.height}}, '{{{spritesheet.escaped_image}}}', ${{spritesheet_info.strings.name_sprites}}, );
{{/block}}

{{#block "sprite-functions"}}
@mixin sprite-width($sprite) {
    width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
    height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
    $sprite-offset-x: nth($sprite, 3);
    $sprite-offset-y: nth($sprite, 4);
    background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
    $sprite-image: nth($sprite, 9);
    background-image: url(#{$sprite-image});
}

@mixin sprite-background-size($sprite) {
    $sprite-total-width: nth($sprite, 7);
    $sprite-total-height: nth($sprite, 8);
    background-size: $sprite-total-width $sprite-total-height;
}

@mixin sprite($sprite) {
    @include sprite-image($sprite);
    @include sprite-position($sprite);
    @include sprite-width($sprite);
    @include sprite-height($sprite);
}

@mixin sprites() {
    @each $sprite in ${{spritesheet_info.strings.name_sprites}} {
        $sprite-name: nth($sprite, 10);
        $hover: str-index($sprite-name, '--hover');
        @if type-of($hover) == "number" {
            $sprite-name: str-slice($sprite-name, 0, $hover - 1);

            .icon-#{$sprite-name}:hover {
              @include sprite-position($sprite);
            }
        }
        @if type-of($hover) == "null" {
            .icon-#{$sprite-name} {
              @include sprite($sprite);
            }
        }
    }
}

@mixin retina-sprites() {
    @each $sprite in ${{spritesheet_info.strings.name_sprites}} {
        $sprite-name: nth($sprite, 10);
        $hover: str-index($sprite-name, '--hover');
        $sprite-total-width: nth($sprite, 7);
        $sprite-total-height: nth($sprite, 8);
        @if type-of($hover) == "null" {
            .icon-#{$sprite-name} {
                background-image: url(${{retina_spritesheet_info.strings.name_image}});
                background-size: $sprite-total-width $sprite-total-height;
            }
        }
    }
}
{{/block}}
