<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <title>Orb - Intelligence</title>
    <link rel="stylesheet" href="assets/css/styles.css">
    <link href='https://fonts.googleapis.com/css?family=Lato:400,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
</head>
<body {% if bodyClasses %}class="{{ bodyClasses }}"{% endif %}>

{% include "partials/header.html" %}
{% block content %}{% endblock %}
{% include "partials/footer.html" %}

<script src="assets/js/scripts.js"></script>
<script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
<script type="text/javascript">stLight.options({publisher: "c07b8e47-2e54-4060-9cb7-959913bbf63a", doNotHash: false, doNotCopy: false, hashAddressBar: false});</script>

</body>
</html>
