{% extends "layout.html" %}

{% block content %}
<!-- BEGIN .container -->
<div class="container">
    <!-- BEGIN .page-header -->
    <div class="page-header">
        {% block pageHead %}{% endblock %}
    </div>
    <!-- END .page-header -->
    <!-- BEGIN .page-content -->
    <div class="page-content">
        {% block primary %}{% endblock %}
    </div>
    <!-- END .page-content -->
</div>
<!-- END .container -->
{% block afterContent %}{% endblock %}
{% endblock %}
