{% extends "layout.html" %}

{% block content %}
<!-- BEGIN .container -->
<div class="container">
    <!-- BEGIN .page-header -->
    <div class="page-header">
        {% block pageHead %}{% endblock %}
    </div>
    <!-- END .page-header -->
    <div class="row">
        <div class="col-md-8">
            <!-- BEGIN .primary-content -->
            <div class="page-content">
              {% block primary %}{% endblock %}
            </div>
            <!-- END .primary-content -->
        </div>
        <div class="col-md-4">
            <!-- BEGIN .sidebar -->
            <div class="sidebar{% if sidebarClasses %} {{ sidebarClasses }}{% endif %}">
                {% block sidebar %}{% endblock %}
            </div>
            <!-- END .sidebar -->
        </div>
    </div>
</div>
<!-- END .container -->
{% block afterContent %}{% endblock %}
{% endblock %}
