<!-- BEGIN .widget -->
<div class="widget __author" data-action="fixed">
    <dl class="author">
        <dd class="author_img">
            <img src="assets/img/src/author-img-m.jpg" alt="" />
        </dd>
        <dt class="author_name">Maria Grineva</dt>
        <dd class="author_socials">
            {% include "partials/socials.html" %}
        </dd>
    </dl>
    <div class="author_bio">
        <p>Maria is the co-founder/
scientist of Orb Intelligence, a company that provides business information for marketing software vendors and B2B marketing agencies.</p>
    </div>
</div>
<!-- END .widget -->
