<!-- BEGIN .footer -->
<footer class="footer">
	<div class="container">
		<p class="footer_copy">&copy; 2016 Orb Intelligence, Inc. All rights reserved.</p>
		<p class="footer_dev">Developed by <a href="#"><i class="icon-dev">Diffco US</i></a></p>
		<ul class="footer_nav">
			<li>
				{% include "partials/socials.html" %}
			</li>
			<li>
				<a href="ajax/support-popup.html" class="footer_nav_support" data-ajax-popup="true"><i class="icon-h-phones"></i> Client support</a>
			</li>
		</ul>
	</div>
</footer>
<!-- END .footer -->
