<!-- BEGIN .header -->
<header class="header">
    <div class="container">
        <!-- Replace tag "h1" to tag "a" on inner pages, for semantic & SEO optimization. -->
        {% if isIndex %}
        <h1 class="logo">
            {% else %}
            <a href="index.html" class="logo">
                {% endif %}
                <i class="icon-logo">Orb - Intelligence</i>
                {% if isIndex %}
        </h1>
        {% else %}
        </a>
        {% endif %}
        <div class="header_nav" data-html="mobile-menu">
            <ul class="user-nav">
                <li>
                    <a href="about.html" {% if isAbout %}class="__active"{% endif %}>About us</a>
                </li>
                <li>
                    <span class="user-nav_tel">Sales <a href="tel:650-391-42-98">650-391-42-98</a></span>
                </li>
                <li>
                    <a href="#" class="user-nav_login">Login</a>
                </li>
            </ul>
            <ul class="main-nav">
                <li><a href="our-data.html">Our data</a></li>
                <li class="__active">
                    <a href="#">Use cases <i class="icon-arrow-down"></i></a>
                    <ul class="main-nav_sub-menu">
                        <li><a href="use-cases-item.html">Match and Augment Your Data</a></li>
                        <li class="__active"><a href="use-cases-item.html">Master Data Management</a></li>
                        <li><a href="use-cases-item.html">Advanced Analytics</a></li>
                    </ul>
                </li>
                <li><a href="api.html">API</a></li>
                <li><a href="blog-index.html">Blog</a></li>
                <li><a href="about.html">About us</a></li>
                <li><a href="contacts.html">Contact us</a></li>
            </ul>
        </div>
        <div class="menu-toggle" data-toggle="menu-open">
            <span class="menu-toggle_line"></span>
        </div>
        <div class="menu-toggle menu-toggle__close" data-toggle="menu-close"></div>
    </div>
</header>
<!-- END .header -->
