<!-- BEGIN .widget -->
<div class="widget __promo" data-action="fixed">
    <i class="icon-net-l"></i>
    <p>Take a look on our solutions for B2B marketing and sales</p>
    <a href="#" class="button __red">Let's start!</a>
</div>
<!-- END .widget -->
