/**
 * Typography
 */

html,
button,
input,
select,
textarea {
    font: 400 #{$base-font-size}/#{$base-line-height} $base-font;
    color: $dark;
}

body {
    background: $base-bg;

    &.__bg-white {
        background-color: $white;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    padding-top: 16px;
	font-weight: 700;
    margin-bottom: 20px;
    line-height: 1.2;

    .icon-aligner {
        position: relative;
        width: 40px;

        &:after {
            content: '.';
            opacity: 0;
        }

        [class^="icon-"] {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
        }
    }
}

h1 {
    font-size: 24px;
}

h2 {
    font-size: 32px;
}

h3 {
    font-size: 20px;
    line-height: 1;
}

h4 {
    font-size: 18px;
}

h5 {
    font-size: 14px;
}

h6 {
    font-size: 12px;
}

p {
	margin-bottom: 19px;
}

ul, ol {
    margin-bottom: 19px;

    li {
        position: relative;
        padding-left: 17px;
        margin-bottom: 8px;

        &:after {
            content: '';
            position: absolute;
            top: 7px;
            left: 0;
            @include sprite($bullet);
        }
    }
}

b,
strong {
	font-weight: 700;
}

dfn,
cite,
em,
i {
	font-style: italic;
}

blockquote {
	border-left: 4px solid #707070;
	border-left: 4px solid rgba(51, 51, 51, 0.7);
	color: #707070;
	color: rgba(51, 51, 51, 0.7);
	font-size: 18px;
	font-size: 1.8rem;
	font-style: italic;
	line-height: 1.6667;
	margin-bottom: 1.6667em;
	padding-left: 0.7778em;

	p {
		margin-bottom: 1.6667em;
	}
	> p:last-child {
		margin-bottom: 0;
	}
	cite,
	small {
		color: #333;
		font-size: 15px;
		font-size: 1.5rem;
		font-family: "Noto Sans", sans-serif;
		line-height: 1.6;
	}
	em,
	i,
	cite {
		font-style: normal;
	}
	strong,
	b {
		font-weight: 400;
	}
}

address {
	font-style: italic;
	margin: 0 0 1.6em;
}

code,
kbd,
tt,
var,
samp,
pre {
	font-family: Inconsolata, monospace;
	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
}

pre {
	background-color: transparent;
	background-color: rgba(0, 0, 0, 0.01);
	border: 1px solid #eaeaea;
	border: 1px solid rgba(51, 51, 51, 0.1);
	line-height: 1.2;
	margin-bottom: 1.6em;
	max-width: 100%;
	overflow: auto;
	padding: 0.8em;
	white-space: pre;
	white-space: pre-wrap;
	word-wrap: break-word;
}

abbr[title] {
	border-bottom: 1px dotted $dark;
	cursor: help;
}

mark,
ins {
	background-color: #fff9c0;
	text-decoration: none;
}

sup,
sub {
	font-size: 75%;
	height: 0;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sup {
	bottom: 1ex;
}

sub {
	top: .5ex;
}

small {
	font-size: 75%;
}

big {
	font-size: 125%;
}

hr {
    clear: both;
    border: none;
    height: 1px;
    background: $light-gray;
    margin: 20px 0;
}

table {
    width: 100%;
    border-collapse: collapse;

    th {
        font-weight: 700;
        vertical-align: middle;
    }
    th, td {
        padding: 10px 15px;
        border: 1px solid #bcd1dd;
    }
}
