/**
 * Ajax Popup
 */

.ajax-popup {
    padding: 20px;
    width: 460px;
    overflow: hidden;

    &_head {
        position: relative;
        padding: 7px 0 30px;

        h3 {
            margin-bottom: 0;
            padding-top: 0;
        }
        &:after {
            content: '';
            position: absolute;
            bottom: 0;
            width: 85px;
            border-bottom: 2px solid $light-blue;
        }
    }
    &_entry {
        padding-top: 25px;

        &.__success {
            padding: 15px 0 23px;
            text-align: center;
            @include font-size(16px);

            .icon-success {
                margin-bottom: 15px;
            }
            p {
                margin-bottom: 39px;
            }
        }
    }
}

body {
    .fancybox-skin {
        border-radius: 3px;
        background-color: $white;
    }
    .fancybox-opened {
        .fancybox-skin {
            @include box-shadow(90, 1, 0, 4, rgba(40, 102, 138, .4));
        }
    }
    .fancybox-close {
        top: 30px;
        right: 20px;
        @include sprite($close);
        background-size: auto;
    }
    .fancybox-overlay{z-index:9999 !important}
    .fancybox-wrap{z-index:99999 !important}
}

@media screen and (max-width: 767px) {
    .ajax-popup {
        width: 280px;

        &_head {
            padding-bottom: 20px;
        }
        &_entry {
            padding-top: 20px;
        }
    }

    .form {
        &.__request {
            .form_footer {
                p {
                    padding: 0 0 5px;
                }
            }
        }
    }
    body {
        .fancybox-close {
            top: 15px;
            right: 15px;
        }
    }
}
