/**
 * Author
 */

.author {
    &_img {
        float: left;
        margin-right: 12px;

        img {
            display: block;
            border-radius: 50%;
        }
    }
    &_name {
        padding: 5px 0 9px 0;
        font-size: 15px;
        font-weight: 900;
    }
    &_socials {

    }
    .socials {
        li {
            margin: 0 12px 0 0;
        }
    }
    &_bio {
        padding-top: 18px;
    }
}
