/**
 * Buttons
 */

.button {
    display: inline-block;
    padding: 11px 20px;
    font-size: 14px;
    font-weight: 700;
    color: $white !important;
    text-align: center;
    text-decoration: none !important;
    border-radius: 3px;
    border: 0;
    text-transform: uppercase;
    cursor: pointer;

    &::-moz-focus-inner {
        border: 0;
        padding: 0;
    }
    &.__red {
        background-color: $red;
        @include box-shadow(90, 2, 0, 8, rgba(202, 50, 34, .2));
    }
    &.__blue {
        background-color: $light-blue;
        @include box-shadow(90, 2, 0, 8, rgba(0, 85, 133, .2));
    }
    &.__small {
        padding: 6px 19px;
        @include font-size(13px);
        text-transform: none;
    }
    [class^="icon-"] {
        margin-right: 8px;
        vertical-align: top;
    }
    &:hover, &:focus {
        border: 0;
        outline: 0;
        opacity: .9;
    }
}

.btn-more {
    display: inline-block;
    color: $light-blue;
    font-weight: 700;

    .icon-arrow-more {
        margin: 5px 0 0 5px;
        vertical-align: top;
    }
}
