/**
 * Features List
 */

.features-list {
    padding: 24px 27px 0;
    padding-left: 27px;

    &_wrap {
        padding: 27px 47px 15px;
        margin: 0 0 30px 50px;
        background-color: $white;
        border-radius: 3px;
        @include box-shadow(90, 1, 0, 4, rgba(40, 102, 138, .4));

        h3 {
            padding-top: 0;
            margin-bottom: 43px;
        }
        .features-list {
            padding: 0;

            &_item {
                margin-bottom: 21px;
                padding-left: 95px;
                height: 62px;

                .icon-aligner {
                    margin-top: -27px;
                    height: 54px;
                    line-height: 54px;
                    width: 55px;
                }
            }
        }
    }
    &_item {
        position: relative;
        display: table;
        margin-bottom: 23px;
        padding-left: 82px;
        height: 57px;

        &:after {
            display: none;
        }
        .icon-aligner {
            position: absolute;
            top: 50%;
            left: 0;
            width: 47px;
            height: 35px;
            margin-top: -19px;
            line-height: 35px;
            text-align: center;
            [class^="icon-"] {
                display: inline-block;
                vertical-align: middle;
            }
        }
        &_text {
            font-weight: 700;
            @include font-size(16px);
            overflow: hidden;
            display: table-cell;
            vertical-align: middle;

            p {
                margin: 0;

                & + p {
                    font-weight: 400;
                    @include font-size(14px);
                }
            }
        }
    }
}

@media screen and (max-width: 991px) {
    .features-list {
        padding: 24px 0 0;

        &_item {
            margin-bottom: 26px;
            padding-left: 67px;
            height: 50px;
        }
        &_wrap {
            padding: 25px 25px 15px;
            margin: 0 0 30px 15px;

            .features-list_item {
                padding-left: 80px;
            }
        }
    }
}

@media screen and (max-width: 767px) {
    .features-list {
        &_item {
            margin-bottom: 20px;
            padding-left: 80px;

            .icon-aligner {
                left: 6px;
                top: 0;
                bottom: 0;
                margin-top: auto;
                margin-bottom: auto;
            }
        }
        &_wrap {
            padding: 30px 15px 15px 30px;
            margin: 0 5px 30px;

            h3 {
                margin-bottom: 25px;
                font-size: 16px;
            }
            .features-list_item {
                margin-bottom: 12px;

                .icon-aligner {
                    margin-top: 0;
                }
            }
        }
    }
}