/**
 * Forms
 */

.form {
    color: #838a8e;
    @include font-size(12px);

    label {
        display: block;
        margin-bottom: 5px;

        &.error {
            position: absolute;
            color: $red;
        }
    }
    input, textarea {
        width: 100%;
        border: 1px solid #c5dbe9;
        border-radius: 3px;

        &:focus {
            outline: 0;
            border-color: $light-blue;
        }
        &.error {
            border-color: $red;
        }
    }
    input {
        padding: 5px 15px 7px;
        height: 34px;

        &::-moz-focus-inner {
            border: 0;
            padding: 0;
        }
    }
    textarea {
        padding: 10px 15px;
        resize: vertical;
    }
    fieldset {
        position: relative;
        margin-bottom: 15px;
    }
    &.__request {
        fieldset {
            label.error {
                bottom: -24px;
            }
        }
        textarea {
            height: 115px;
        }
        .form_footer {
            p {
                margin-bottom: 0;
                padding: 11px 0;
            }
            .col-sm-6:nth-child(2) {
                text-align: right;
            }
        }
        .button {
            min-width: 110px;
        }
    }
}
