/**
 * Pagination
 */

.pagination {
	margin: 0 0 0 15px;
    padding-top: 15px;

	li {
		margin: 0 5px;
        padding-left: 0;
		color: $dark;
		@include font-size(16px);
		font-weight: 700;
		display: inline-block;

        &:after {
            display: none;
        }
		&.__active a {
			color: $light-blue;
		}
	}
	a {
		color: $dark;
		text-decoration: none;
		transition: none;

		&:hover {
			color: $light-blue;

			.icon-pagination-next {
				@include sprite($pagination-next--hover);
			}
			.icon-pagination-prev {
				@include sprite($pagination-prev--hover);
			}
		}
	}
	.icon-pagination-prev, .icon-pagination-next {
		margin-top: 5px;
		vertical-align: top;
	}
	.icon-pagination-next {
		margin-left: 5px;
	}
	.icon-pagination-prev {
		margin-right: 5px;
	}
}
