/**
 * Post
 */

.post {
    margin-bottom: 20px;
    padding: 25px 20px 23px;
    background-color: $white;
    border-radius: 3px;
    @include box-shadow(90, 1, 0, 4, rgba(40, 102, 138, .4));

    &_socials {
        padding: 16px 0 20px;
        
        span {
            box-sizing: content-box;
        }
    }
    &_head {
        h3 {
            margin-bottom: 7px;
            padding-top: 0;
            line-height: 1.29;
        }
    }
    &_meta {
        margin-bottom: 19px;
        font-weight: 700;
        @include font-size(12px);
    }
    &_date {
        float: left;
        margin: 6px 20px 6px 0;
        color: #666f73;
    }
    &_author {
        color: $light-blue;
        @include clearfix();

        &_img {
            float: left;
            margin-right: 10px;

            img {
                display: block;
                border-radius: 50%;
            }
        }
        &_name {
            padding: 6px 0;
        }
    }
    &_entry {
        img {
            margin-bottom: 19px;
            width: 100%;
        }

        h1, h2, h3, h4, h5, h6 {
            padding-top: 0;
        }
    }
}

.posts-footer {
    padding-top: 15px;

    .button {
        min-width: 150px;
    }
}

@media screen and (max-width: 991px) {
	.post:first-child {
		margin-top: 20px;
	}
}

@media screen and (max-width: 767px) {
	.posts-footer {
        padding: 25px 0 12px;
		text-align: center;
	}
}
