/**
 * Socials
 */

.socials {
    margin-bottom: 0;
    @include clearfix();

    li {
        float: left;
        margin: 0 10px;
        padding-left: 0;

        &:after {
            display: none;
        }
    }
}
