/**
 * Widget
 */

.widget {
    padding: 44px 25px 26px;
    background-color: $white;
    border-radius: 3px;
    @include box-shadow(90, 1, 0, 4, rgba(40, 102, 138, .4));

    &.__promo {
        text-align: center;

        .icon-net-l {
            margin-bottom: 25px;
        }
        p {
            margin-bottom: 26px;
            font-weight: 700;
            @include font-size(18px);
            line-height: 1.3;
        }
        .button {
            min-width: 150px;
        }
    }
    &.__author {
        padding: 25px 20px 5px;
    }
}

@media screen and (max-width: 991px) {
    .widget {
        &.__promo {
            position: inherit !important;
            top: 0 !important;
            width: auto !important;
        }
    }
}
