<div class="ajax-popup">
    <div class="ajax-popup_head">
        <h3>Request a demo online</h3>
    </div>
    <div class="ajax-popup_entry">
        <form class="form __request" action="ajax/success-popup.html" method="post">
            <div class="row">
                <div class="col-sm-6">
                    <fieldset>
                        <label for="ap-name">Name*</label>
                        <input id="ap-name" name="ap-name" type="text" data-rule-required="true">
                    </fieldset>
                </div>
                <div class="col-sm-6">
                    <fieldset>
                        <label for="ap-email">E-mail*</label>
                        <input id="ap-email" name="ap-email" type="text" data-rule-required="true" data-rule-email="true">
                    </fieldset>
                </div>
            </div>
            <fieldset>
                <label for="ap-message">Message*</label>
                <textarea id="ap-message" name="ap-message" rows="8" cols="40" data-rule-required="true"></textarea>
            </fieldset>
            <div class="form_footer">
                <div class="row">
                    <div class="col-sm-6">
                        <p>* - reuired fields</p>
                    </div>
                    <div class="col-sm-6">
                        <button class="button __red" type="submit">Send</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
