<div class="ajax-popup">
    <div class="ajax-popup_head">
        <h3>Thank you!</h3>
    </div>
    <div class="ajax-popup_entry __success">
        <i class="icon-success"></i>
        <p>
            Your request was send. <br>
We will contact you in short time!
        </p>
        <a href="javascript:$.fancybox.close();" class="button __red">Continue serfing</a>
    </div>
</div>
