// Clearfix
@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

// Font Size in Rems
@mixin font-size($value, $content:null) {
  font-size: $value $content;
  font-size: rem($value) $content;
}

// Photosho Drop Shadow to CSS Box Shadow
@mixin box-shadow(
    $ps_angle,
    $ps_distance,
    $ps_spread,
    $ps_size,
    $ps_color
) {
    $css_angle: ((180 - $ps_angle) * pi() / 180 );
    $css_offset_y: (sin($css_angle)*$ps_distance);
    $css_offset_x: (cos($css_angle)*$ps_distance);
    $css_spread_radius: ($ps_size*$ps_spread / 100);
    $css_blur_radius: ($ps_size - $ps_spread);
    box-shadow: #{round($css_offset_x)}px #{round($css_offset_y)}px #{round($css_blur_radius)}px #{round($css_spread_radius)}px $ps_color;
}

	
 
