// Colors
$base-bg: #f9fdff;
$dark: #222c38;
$white: #ffffff;
$red: #f03c28;
$light-blue: #008bd6;
$light-gray: #d0dce8;
$niagara: #93a3ba;

// Font Sizes
$base-font-size: 14px;

// Line Height
$base-line-height: 19px;

// Fonts
$base-font: 'Lato', sans-serif;
