{% macro init(type, classes) %}
<!-- BEGIN .pagination -->
<ul class="pagination{% if classes != '' %} {{ classes }}{% endif %}">
    {% if type == 'back' %}
    <li><a href="blog-index.html"><i class="icon-pagination-prev"></i> Back to posts</a></li>
    {% else %}
    <li class="__active"><a href="#">1</a></li>
    <li><a href="#">2</a></li>
    <li><a href="#">3</a></li>
    <li><a href="#">4</a></li>
    <li><a href="#">5</a></li>
    <li>..</li>
    <li><a href="#">12</a></li>
    <!-- Use ".icon-pagination-prev" class for pevious page icon. -->
    <li><a href="#">Next <i class="icon-pagination-next"></i></a></li>
    {% endif %}
</ul>
<!-- END .pagination -->
{% endmacro %}
