/**
 * About
 */

.about {
    &_text {
        width: 485px;
    }
    &_team {
        padding: 40px 0 48px;
        background-color: #f6fafd;

        h3 {
            padding-top: 0;
            margin-bottom: 47px;
            @include font-size(22px);
        }
        &_item {
            max-width: 275px;

            &_ava {
                float: left;
                margin-right: 20px;
            }
            .companies_user_ava {
                margin-bottom: 0;
            }
            .companies_user_info {
                margin-bottom: 10px;
            }
            &_text {
                padding-top: 10px;

                p {
                    margin-bottom: 0;
                }
            }
        }
    }
}

body.__about-bg {
    background: $white url(../img/about-bg.jpg) 100% 83px no-repeat;
}

@media
(-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi) {
    body.__about-bg {
        background-image: url(../img/about-bg@2x.jpg);
        background-size: 543px auto;
    }
}

@media screen and  (max-width: 767px) {
    .about {
        &_text {
            width: auto;
        }
        &_team {
            padding-bottom: 10px;

            &_item {
                max-width: none;
                clear: both;
                margin-bottom: 35px;
            }
        }
    }
}