/**
 * Cases
 */

.cases {
    &_other {
        padding: 30px 0 5px;
        margin-bottom: 0;

        &_item {
            position: relative;
            margin-bottom: 15px;
            padding: 7px 23px;
            overflow: hidden;
            background-color: $white;
            border-radius: 3px;
            @include box-shadow(90, 1, 0, 4, rgba(40, 102, 138, .4));

            &_inner {
                display: table;
                height: 85px;
            }

            .icon-aligner {
                display: table-cell;
                width: 95px;
                padding-right: 28px;
                text-align: center;
                vertical-align: middle;
            }
            h3 {
                padding-top: 0;
                margin-bottom: 0;
                display: table-cell;
                line-height: 1.25;
                vertical-align: middle;
            }
            &:after {
                display: none;
            }
        }
    }
    &_list {
        margin-bottom: 0;
        padding-left: 35px;

        &_item {
            margin: 17px 0 0 0;
            padding-left: 0;

            &:after {
                display: none;
            }
            &:first-child {
                margin-top: 0;
            }
        }
        &_icon {
            float: left;
            margin-right: 23px;
            width: 45px;
            text-align: center;
        }
        &_text {
            overflow: hidden;

            h4 {
                margin-bottom: 10px;
                padding-top: 0;
            }
        }
    }
    &_item {
        position: relative;
        padding: 0 25px;
        text-align: center;

        &.__boxed {
            padding: 30px 65px;
            background-color: $white;
            border-radius: 3px;
            @include box-shadow(90, 1, 0, 4, rgba(40, 102, 138, .4));

            &:after {
                display: none;
            }
            .cases_item_icon {
                margin-bottom: 23px;
            }
            .cases_item_text {
                margin-bottom: 28px;
                min-height: inherit;

                h3 {
                    line-height: 1.3;
                }
            }
        }
        &:after {
            content: '';
            position: absolute;
            top: 50%;
            left: -15px;
            margin-top: -82px;
            width: 1px;
            height: 165px;
            background-color: #dfeaf0;
        }
        &_icon {
            margin-bottom: 50px;
            height: 107px;
            line-height: 107px;
            text-align: center;

            [class^="icon-"] {
                display: inline-block;
                vertical-align: middle;
            }
        }
        &_text {
            margin-bottom: 12px;
            min-height: 145px;
            line-height: 1.25;

            h3 {
                padding-top: 0;
            }
            p {
                margin: 0;
            }
        }
        &_view {
            text-align: center;

            &_img {
                margin-bottom: 45px;

                img {
                    border-radius: 3px;
                    @include box-shadow(90, 1, 0, 4, rgba(40, 102, 138, .4));
                }
            }
            .button {
                min-width: 150px;
            }
        }
    }
    &_promo {
        margin-top: 80px;
        padding: 17px 35px;
        border: 1px dashed #bbddef;
        border-radius: 3px;
        @include box-shadow(90, 2, 0, 10, rgba(0, 139, 217, .15));
        @include clearfix();

        &_text {
            float: left;
            margin: 0;
            font-weight: 700;
            line-height: 64px;
            @include font-size(22px);

            .icon-cases-promo {
                display: inline-block;
                vertical-align: middle;
                margin-right: 25px;
            }
            span {
                display: inline-block;
                vertical-align: middle;
            }
        }
        &_phone {
            line-height: 25px;
            font-weight: 700;
            @include font-size(24px);

            &_wrap {
                display: block;
                padding: 19px 0;
                overflow: hidden;
                text-align: center;
            }
            .icon-phone {
                margin-right: 10px;
                vertical-align: top;
            }
        }
        .button {
            float: right;
            min-width: 150px;
            margin-top: 11px;
        }
    }
}

@media screen and (max-width: 991px){
    .cases {
        &_item {
            padding: 0;

            &_text {
                min-height: auto;

                h3 {
                    font-size: 18px;
                    margin-bottom: 14px;
                }
            }
        }
        &_list {
            padding-left: 0;
        }
        &_item {
            &.__boxed {
                margin-bottom: 35px;
                padding: 30px 20px;
            }
            &_icon {
                height: 90px;
                line-height: 90px;
            }
            &_text {
                h3 {
                    @include font-size(18px);
                }
            }
        }
        &_promo {
            margin-top: 35px;
            padding: 15px 25px;

            &_text {
                font-size: 18px;
                line-height: 1.1;
                width: 39%;
                display: table;

                [class^="icon-"] {
                    margin-right: 38px;
                }

                span {
                    display: table-cell;
                }
            }
            .button {
                margin-top: 10px;
            }
        }
    }
}

@media screen and (max-width: 767px){
    .cases {
        &_item {
            padding: 0 35px 35px;
            margin-bottom: 35px;
            border-bottom: 1px solid #ccd9e2;

            &_icon {
                margin-bottom: 37px;
                height: auto;
                line-height: normal;
            }
            &_text {
                margin-bottom: 15px;
            }
            &_view, &_view_img, &_view_img img {
                width: 100%;
            }
            &_view {
                margin-bottom: 40px;
            }
        }
        &_promo {
            margin-top: 35px;
            padding: 29px 35px 80px;
            position: relative;

            &_text {
                display: block;
                width: 100%;
                float: none;
                text-align: center;
                font-size: 20px;
                line-height: 1.3;

                [class^="icon-"] {
                    display: none;
                }
            }
            &_phone_wrap {
                padding: 30px 0;
            }
            .button {
                position: absolute;
                width: 150px;
                left: 0;
                right: 0;
                margin: auto;
                bottom: 35px;
            }
        }
    }
    .__use-cases {
        [class^="col-"] {
            &:last-child {
                .cases_item {
                    border-bottom: none;
                    margin-bottom: 0;
                    padding-bottom: 10px;
                }
            }
        }
    }
}