/**
 * Companies
 */

.companies {
    position: relative;
    padding: 0 15px;

    &_item {
        margin: 3px;
        padding: 30px 30px 80px;
        text-align: center;
        background-color: $white;
        border-radius: 3px;
        min-height: 435px;
        @include box-shadow(90, 1, 0, 4, rgba(40, 102, 138, .4));

        img {
            display: inline-block !important;
            vertical-align: top;
            width: auto !important;
            backface-visibility: hidden;
        }
        &_text {
            margin-bottom: 18px;
            line-height: 1.27;
        }
        &_logo {
            position: absolute;
            bottom: 30px;
            left: 0;
            right: 0;
            line-height: 50px;

            img {
                vertical-align: middle;
            }
        }
    }
    &_user {
        margin-bottom: 18px;

        &_ava {
            margin-bottom: 26px;
            border-radius: 50%;
        }
        &_info {
            dt {
                font-weight: 700;
                @include font-size(18px);
            }
            dd {
                color: #919ca9;
                min-height: 40px;
            }
        }
    }
    .owl-prev, .owl-next {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }
    .owl-prev {
        left: 0;
    }
    .owl-next {
        right: 0;
    }
}

@media screen and (min-width: 992px) {
    .companies {
        width: 940px;
        margin: auto;
    }
}

@media screen and (max-width: 991px) {
    .companies {
        &_item {
            min-height: 420px;
        }
    }
}

@media screen and (max-width: 767px) {
    .companies {
        &_item {
            min-height: 0;
            padding-left: 40px;
            padding-right: 40px;
        }
        &_user {
            &_info {
                dd {
                    min-height: 0;
                }
            }
        }
    }
}
