/**
 * Contacts
 */

.contacts {
    padding-bottom: 77px;

    &_item {
        padding-left: 0;
        margin-bottom: 24px;

        &:after {
            display: none;
        }

        &_address {
            line-height: 1.37;
            font-style: normal;
            @include font-size(16px);

            .icon-build-n {
                float: left;
                margin: 3px 25px 0 0;
            }
            p {
                overflow: hidden;
            }
        }
    }
    &_phone {
        margin: 0 40px;
        padding: 40px 0 63px;
        text-align: center;
        background-color: $white;
        border-radius: 3px;
        @include box-shadow(90, 1, 0, 4, rgba(40, 102, 138, .4));

        &_descr {
            margin-bottom: 32px;
            display: block;
            @include font-size(16px);
        }
        .cases_promo_phone {
            @include font-size(30px);

            &_wrap {
                padding-bottom: 10px;
            }
        }
        .button {
            min-width: 150px;
        }
    }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
    .contacts {
        &_list {
            margin-bottom: 38px;
            text-align: center;
        }
        &_phone {
            margin: 0 auto;
            max-width: 375px;
        }
        &_item {
            margin-bottom: 0;

            &_address {
                display: inline-block;
                margin-bottom: 0;
                min-width: 190px;
                text-align: left;
            }
        }
    }
}

@media screen and (max-width: 991px) {
    .contacts {
        padding-bottom: 20px;
    }
}

@media screen and (max-width: 767px) {
	.contacts {
        &_phone {
            margin: 0;
            padding: 17px 0 38px;
        }
        &_list {
            margin-bottom: 45px;
        }
	}
}
