/**
 * Docs
 */

.docs {
    &_changelog {
        margin-bottom: 50px;
        padding-left: 50px;

        &_old {
            display: none;

            &.__visible {
                display: block;
            }
        }
        h4 {
            padding-top: 0;
            margin-bottom: 25px;
        }
        h5 {
            padding-top: 0;
            margin-bottom: 13px;
        }
        &_list {
            margin-bottom: 28px;
            list-style-position: inside;
            list-style-type: disc;

            li {
                margin-bottom: 23px;
                padding-left: 0;

                &:after {
                    display: none;
                }
            }
        }
    }
    &_api-info {
        margin-bottom: 50px;

        h4 {
            padding-top: 0;
            margin-bottom: 28px;
        }
        &_entry {
            background-color: $white;
            border-radius: 3px;
            @include box-shadow(90, 1, 0, 4, rgba(40, 102, 138, .4));

            tr {
                &:first-child td {
                    border-top-width: 0;
                }
                td {
                    padding: 12px 20px;
                    line-height: 1.5;
                    @include font-size(12px);
                    border-width: 1px 0 0 1px;

                    &:first-child {
                        border-left-width: 0;
                    }
                }
                &.__option {
                    td:first-child {
                        width: 39%;
                        text-align: center;
                    }
                    td {
                        font-weight: 700;
                        @include font-size(16px);
                    }
                }
            }
        }
    }
    &_item {
        overflow: hidden;
        margin-bottom: 20px;
        background-color: $white;
        border-radius: 3px;
        @include box-shadow(90, 1, 0, 4, rgba(40, 102, 138, .4));

        &.__active {
            .docs_item {
                &_head {
                    background-color: #ebf5fb;
                }
                &_entry.__visible {
                    display: block;
                }
            }
        }
        &_head {
            display: table;
            padding: 25px;
            width: 100%;
            height: 82px;
            @include clearfix();
            @include box-shadow(90, 2, 0, 8, rgba(0, 85, 133, .10));
        }
        &_group {
            display: table-cell;
            width: 74%;
            vertical-align: middle;
        }
        &_point {
            display: inline-block;
            width: 56%;
            vertical-align: middle;

            h4 {
                padding-top: 0;
                margin-bottom: 0;
            }
        }
        &_descr {
            display: inline-block;
            width: 43%;
            line-height: 1.18;
            vertical-align: middle;

            p {
                margin-bottom: 0;
            }
        }
        &_controls {
            display: table-cell;
            width: 26%;
            text-align: right;
            vertical-align: middle;

            .button {
                margin-left: 13px;
            }
        }
        &_entry {
            display: none;

            th:first-child {
                min-width: 145px;
            }
            &_inner {
                padding: 30px;
                border-top: 1px solid #bcd1dd;
            }
        }
    }
}

@media screen and (max-width: 991px) {
    .docs {
        &_changelog {
            padding-left: 0;
        }
        &_api-info {
            &_entry {
                tr.__option {
                    td:first-child {
                        width: 33%;
                    }
                }
            }
        }
        &_item {
            &_head {
                padding: 19px 25px;
            }
            &_point, &_descr {
                display: block;
                width: auto;
            }
            &_point {
                margin-bottom: 3px;
            }
            &_group {
                width: 65%;
            }
            &_controls {
                width: 35%;
            }
        }
    }
}

@media screen and (max-width: 767px) {
    .docs {
        &_changelog, &_api-info {
            margin-bottom: 35px;
        }
        &_item {
            &_group, &_controls {
                display: block;
                width: auto;
                text-align: center;
            }
            &_controls {
                padding-top: 20px;

                .button {
                    margin: 0 10px;
                }
            }
            &_entry {
                overflow-x: scroll;
            }
        }
    }
}
