/**
 * Features
 */

.features {
    &_item {
        position: relative;
        min-height: 190px;
        background-color: $white;
        border-radius: 3px;
        @include box-shadow(90, 1, 0, 4, rgba(40, 102, 138, .4));
        &_top {
            @include clearfix();
            margin-bottom: 16px;
            min-height: 35px;

            [class^="icon-"] {
                vertical-align: middle;
                display: none;
            }
        }
        &_soon {
            color: #f03c28;
            font-weight: 700;
            float: right;
            margin-top: 16px;
            margin-right: 23px;
        }
        .icon-aligner {
            display: table-cell;
            vertical-align: top;
            padding: 5px 20px;

            img {
                max-width: none;
            }
        }
        &_text {
            display: table-cell;
            line-height: 1.26;
            padding: 0 8px;

            h3 {
                padding-top: 0;
                margin-bottom: 10px;
                font-size: 18px;
            }
            p {
                margin-bottom: 0;
            }
        }
    }
}

@media screen and (max-width: 991px) {
    .features {
        &_item {
            &_top {
                margin-bottom: 22px;
                min-height: 52px;

                [class^="icon-"] {
                    float: left;
                    display: block;
                    margin-top: 18px;
                    margin-left: 21px;
                }
            }
            &_soon {
                margin-top: 24px;
                margin-right: 17px;
            }
            .icon-aligner {
                display: none;
            }
            &_text {
                padding: 0 18px;

                h3 {
                    font-size: 16px;
                }
            }
        }
    }
}

@media screen and (max-width: 767px){
    .features {
        &_item {
            min-height: 135px;
            margin-bottom: 15px;
            &_top {
                margin-bottom: 16px;
                min-height: 0;

                [class^="icon-"] {
                    display: none;
                }
            }
            &_bottom {
                padding-bottom: 20px;
            }
            &_soon {
                margin-top: 20px;
                margin-right: 28px;
                font-size: 13px;
            }
            &_text {
                padding-left: 10px;

                h3 {
                    margin-bottom: 15px;
                }
            }
            .icon-aligner {
                display: table-cell;
                padding-left: 25px;
            }
        }
    }
}