/**
 * Footer
 */

.footer {
	padding: 26px 0;
	@include font-size(12px);
	border-top: 1px solid #e7ebed;
	background-color: $white;

	&_copy {
		float: left;
		margin: 0 0 0 18px;
		padding-top: 3px;
	}
	&_dev {
		float: right;
		margin: 0 17px 0 0;
		line-height: 25px;

		.icon-dev {
			margin-left: 15px;
			text-indent: -9999px;
		}
	}
	&_nav {
		margin-bottom: 0;
		overflow: hidden;
		text-align: center;

		li {
			display: inline-block;
			margin: 0 50px;
			padding-left: 0;
			vertical-align: top;

			&:after {
				display: none;
			}
		}
		.socials {
			padding-top: 5px;
		}
		&_support {
			font-weight: 700;
			line-height: 25px;

			.icon-h-phones {
				margin: 3px 5px 0 0;
				vertical-align: top;
			}
		}
	}
}

@media screen and (max-width: 991px){
    .footer {
        &_copy {
            margin: 0;
        }
        &_dev {
            margin: 0;
        }
        &_nav {
            > li {
                &:first-child {
                    margin-left: 0;
                    margin-right: 20px;
                }
                &:last-child {
                    margin-left: 0;
                    margin-right: 25px;
                }
            }
        }
    }
}

@media screen and (max-width: 767px){
    .footer {
        position: relative;
        height: 150px;
        text-align: center;

        &_copy {
            position: absolute;
            bottom: 20px;
            left: 0;
            right: 0;
        }
        &_dev {
            position: absolute;
            left: 0;
            right: 0;
            top: 70px;
        }
        &_nav {
            position: absolute;
            left: 45px;
            right: 45px;
            top: 30px;
            > li {
                margin: 0 !important;

                &:first-child {
                    float: left;
                }
                &:last-child {
                    float: right;
                }
            }
            .socials {
                li {
                    margin: 0 15px;
                }
            }
        }
    }
}