/**
 * Header
 */

.header {
    background-color: $white;
    border-bottom: 1px solid #e7ebed;
    @include clearfix();

    &_nav {
        float: right;
    }
}

.logo {
    float: left;
    margin-bottom: 0;
    padding: 18px 0;

    .icon-logo {
        text-indent: -9999px;
    }
}

.user-nav {
    margin-bottom: 0;
    padding: 10px 0 0 0;
    color: #666f73;
    text-align: right;

    &_tel {
        @include font-size(10px);

        a {
            margin-left: 10px;
            font-weight: 700;
            @include font-size(16px);

            &:hover {
                color: inherit !important;
            }
        }
    }
    &_login {
        display: block;
        padding: 0 10px;
        border: 1px solid $light-blue;
        border-radius: 3px;
        line-height: 23px;

        &:hover {
            background-color: $light-blue;
            color: $white !important;
        }
    }
    li {
        display: inline-block;
        margin: 0 0 0 23px;
        padding-left: 0;

        &:after {
            display: none;
        }
    }
    a {
        color: #666f73;

        &:hover, &.__active {
            color: $light-blue;
        }
    }
    span.__active {
        color: $light-blue;
    }
}

.main-nav {
    margin-bottom: 0;
    padding-top: 8px;
    text-align: right;

    > li {
        display: inline-block;
        margin: 0 0 0 35px;

        &.__active {
            a:after {
                left: 0;
                right: 0;
                visibility: visible;
            }
        }
        > a {
            display: block;
            position: relative;
            height: 19px;

            &:after {
                content: '';
                position: absolute;
                top: 0;
                bottom: -20px;
                left: 50%;
                right: 50%;
                visibility: hidden;
                border-bottom: 2px solid $light-blue;
                transition: all 0.3s;
            }
            .icon-arrow-down {
                margin: 10px 0 0 6px;
                vertical-align: top;
            }
        }
    }
    li {
        padding-left: 0;

        &:after {
            display: none;
        }
        a {
            font-size: 16px;
            font-weight: 700;
        }
        &:hover {
            .main-nav_sub-menu {
                top: 39px;
                opacity: 1;
                visibility: visible;
            }
            a:after {
                left: 0;
                right: 0;
                visibility: visible;
            }
        }
    }
    &_sub-menu {
        position: absolute;
        top: 50px;
        left: 0;
        padding: 19px 20px 10px;
        width: 265px;
        text-align: left;
        border-radius: 0 0 3px 3px;
        background-color: $white;
        @include box-shadow(90, 1, 0, 4, rgba(40, 102, 138, .4));
        z-index: 5;
        opacity: 0;
        visibility: hidden;
        transition: all 0.3s;

        &:after {
            content: '';
            position: absolute;
            top: -2px;
            left: 0;
            right: 0;
            height: 1px;
            background-color: transparent;
        }
        li {
            margin-bottom: 10px;

            &.__active a, a:hover {
                color: $light-blue;
            }
        }
    }
}

@media screen and (min-width: 992px) {
    .menu-toggle {
        display: none;
    }
}

@media screen and (max-width: 767px) {
    .logo {
        padding: 7px 6px 6px;

        [class^="icon-"] {
            @include sprite-position($logo__small);
            @include sprite-width($logo__small);
            @include sprite-height($logo__small);
        }
    }
    .header {
        position: relative;

        &_nav {
            display: none;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            background: #4778ab;
            padding: 22px 40px 30px;
            @include box-shadow(90, 4, 0, 60, rgba(49, 71, 152, .8));
            z-index: 10;
        }
    }
    .user-nav {
        @include clearfix();
        padding: 0;

        a:not(.user-nav_login) {
            display: none;
        }
        span {
            display: none;
        }
        li {
            float: left;
            margin: 0;
        }
        a {
            color: $white;
        }
        &_login {
            border-color: $white;
            font-size: 13px;
            padding: 0 12px;
        }
    }
    .main-nav {
        text-align: left;
        padding-top: 25px;

        li {
            display: block;
            margin: 0 0 10px;

            &:hover {
                .main-nav_sub-menu {
                    top: 0;
                }
            }
            &.__active {
                > a {
                    color: $niagara;

                    &:hover {
                        color: $niagara;
                    }
                }
            }
            a {
                color: $white;
                font-size: 21px;
                padding: 5px 0;
                display: block;
                height: auto;
                font-weight: normal;

                [class^="icon-"] {
                    display: none;
                }
                &:after {
                    display: none;
                }
            }
        }
        &_sub-menu {
            position: relative;
            top: 0;
            left: 0;
            width: auto;
            background-color: transparent;
            padding: 0;
            border-radius: 0;
            box-shadow: none;
            opacity: 1;
            visibility: visible;
            margin: 15px 0;

            li {
                margin-left: 30px;

                a {
                    font-size: 14px;
                    &:hover {
                        color: $white;
                    }
                }
            }
        }
    }
    .menu-toggle {
        display: block;
        position: absolute;
        width: 17px;
        top: 0;
        right: 20px;
        bottom: 0;
        height: 12px;
        margin: auto;
        cursor: pointer;
        z-index: 2;

        &_line {
            margin: 5px 0;
            height: 2px;
            background: #4778ab;
            border-radius: 3px;
            display: block;
        }
        &:before,
        &:after {
            content: "";
            width: 100%;
            height: 2px;
            left: 0;
            background: #4778ab;
            border-radius: 3px;
            position: absolute;
        }
        &:before {
            top: 0;
        }
        &:after {
            bottom: 0;
        }
        &__close {
            display: none;
            width: 23px;
            top: 24px;
            right: 17px;
            z-index: 11;

            &:before,
            &:after {
                height: 3px;
                top: 50%;
                background: $white;
            }
            &:before {
                transform: rotate3d(0, 0, 1, -45deg);
            }
            &:after {
                transform: rotate3d(0, 0, 1, 45deg);
            }
        }
    }
}