/**
 * Page
 */

.page-header {
    position: relative;
    padding: 38px 0;

    &:after {
        content: '';
        position: absolute;
        bottom: 0;
        width: 85px;
        border-bottom: 2px solid $light-blue;
    }
    .button {
        position: absolute;
        top: 37px;
        right: 0;
    }
}

.page-title {
    padding-top: 0;
    margin-bottom: 0;
    @include font-size(32px);
}

.page-content {
    padding: 50px 0;
}

@media screen and (max-width: 991px) {
    .page-header,
    .page-content {
        padding: 30px 0;
    }
}

@media screen and (max-width: 767px) {
    h3 {
        line-height: 1.2;

        [class^="icon-"] {
            float: left;
            margin-bottom: 10px;
        }
    }
    .page-title {
        @include font-size(27px);
    }
}
