/**
 * Section
 */

.section {
    padding: 50px 0;

    &.__lined {
        border-bottom: 1px solid #bad6e5;
    }
    &_title {
        padding-top: 0;
        margin-bottom: 50px;
        text-align: center;
    }
    &.__home {
        padding: 0;
        background: url(../img/home-bg.jpg) 50% 0 / cover no-repeat;

        .section_entry {
            display: table;
            height: 425px;
            width: 100%;
            color: $white;
            text-align: center;

            .v-aligner {
                display: table-cell;
                vertical-align: middle;
            }
            h2 {
                padding-top: 0;
                margin-bottom: 27px;
            }
            p {
                margin: 0 auto 35px;
                width: 480px;
                @include font-size(16px);
            }
            .button {
                min-width: 150px;
            }
        }
    }
    &.__use-cases {
        padding: 70px 0 60px;
        background-color: $white;

        .section_title {
            margin-bottom: 70px;
            &:after, &:before {
                content: "";
                display: inline-block;
                vertical-align: middle;
                margin: 0 30px;
                height: 1px;
                width: 167px;
                background-color: #77c1eb;
            }
        }

        .col-sm-4:first-child .cases_item:after {
            display: none;
        }
    }
    &.__companies {
        background-color: #ebf5fb;
    }
}

@media screen and (max-width: 991px){
    .section {
        &.__home  {
            .section_entry {
                height: 508px;
                padding: 0 75px;

                h2,
                p {
                    margin-bottom: 45px;
                }
            }
        }
        &.__use-cases {
            padding: 40px 0;
        }
        &.__companies {
            padding: 30px 30px 60px;
        }
    }
}

@media screen and (max-width: 767px){
    .section {
        padding: 30px 0;
        &_title {
            margin-bottom: 25px;
        }
        &.__home {
            .section_entry {
                height: 400px;
                padding: 0 15px;

                h2 {
                    font-weight: 400;
                }
                p {
                    width: auto;
                }
                h2,
                p {
                    margin-bottom: 40px;
                }
            }
        }
        &.__use-cases {
            .section_title {
                margin-bottom: 35px;

                &:before,
                &:after {
                    display: none;
                }
            }
        }
        &.__companies {
            padding-bottom: 40px;
        }
    }
}