/**
 * Solutions
 */

.solutions {
    &_promo {
        padding: 41px 0;
        background-color: #ebf5fb;

        &_text {
            float: left;
            margin: 0 70px 0 80px;
            max-width: 545px;
            font-weight: 700;
            @include font-size(18px);
            line-height: 1.27;

            p {
                margin-bottom: 0;
            }
        }
        .button {
            margin-top: 7px;
            min-width: 135px;
        }
    }
}

@media screen and (max-width: 991px) {
    .solutions {
        &_promo {
            &_text {
                margin: 0;
            }
            .button {
                float: right;
            }
        }
	}
}

@media screen and (max-width: 767px) {
	.solutions {
        &_promo {
            text-align: center;

            &_text {
                float: none;
                margin: 0 0 35px 0;
                max-width: none;
            }
            .button {
                float: none;
            }
        }
	}
}
