/**
 * Statistic
 */

.statistic {
    padding: 42px 0 55px;
    color: $white;
    background-color: rgba(7, 47, 68, .5);

    &_item {
        text-align: center;

        p {
            clear: both;
            margin: 0;
            line-height: 1.26;
            padding: 0 30px;
        }
        &_title {
            position: relative;
            padding-top: 0;
            text-align: center;
            font-weight: normal;

            img {
                vertical-align: middle;
                display: inline-block;
                margin-right: 15px;
                float: none;
            }
            span {
                vertical-align: middle;
                display: inline-block;
                text-align: left;
            }
        }
    }
}

@media screen and (max-width: 991px){
   .statistic {
       padding-bottom: 45px;

       &_item {
           &_title {
               margin-bottom: 25px;

               img {
                   display: block;
                   margin: 0 auto 35px;
               }
               span {
                   text-align: center;
               }
           }
           p {
               padding: 0;
           }
       }
   }
}

@media screen and (max-width: 767px){
    .statistic {
        background: #4778ab;
        padding-bottom: 0;

        &_item {
            margin-bottom: 55px;

            &_title {
                margin-bottom: 20px;

                img {
                    display: inline-block;
                    margin-bottom: 0;
                    position: relative;
                    left: -10px;
                }
                span {
                    text-align: left;
                }
            }
            p {
                padding: 0 35px;
            }
        }
    }
}