{% extends "one-column.html" %}

{% set bodyClasses = "__bg-white __about-bg" %}
{% set isAbout = true %}

{% block pageHead %}
<h1 class="page-title">About Orb Intelligence</h1>
{% endblock %}

{% block primary %}
<div class="about_text">
    <p>We crawl companies websites, social network accounts and integrate up to 50 various US government filings to build a comprehensive database of structured company profiles. We recrawl the whole database every three weeks.</p>
    <p>We aggregate multiple web domains and various name spellings into a single company profile, this improves match rate up to 15%!</p>
    <p>Orb API to get more information for their predictive models. Request company information by company name or web/email domain. Getting full information about customers and leads is necessary for predictive lead and opportunity scoring, predict customer churn and customer segmentation.</p>
</div>
{% endblock %}

{% block afterContent %}
<div class="about_team">
    <div class="container">
        <h3>Our executive team</h3>
        <div class="row">
            <div class="col-sm-5">
                <div class="about_team_item">
                    <div class="about_team_item_ava">
                        <img class="companies_user_ava" src="assets/img/src/user-ava.jpg" />
                    </div>
                    <div class="about_team_item_text">
                        <dl class="companies_user_info">
                            <dt>Maria Grineva</dt>
                            <dd>COO</dd>
                        </dl>
                        <p>PhD in NLP and scalable data processing</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-5">
                <div class="about_team_item">
                    <div class="about_team_item_ava">
                        <img class="companies_user_ava" src="assets/img/src/user-ava.jpg" />
                    </div>
                    <div class="about_team_item_text">
                        <dl class="companies_user_info">
                            <dt>Maria Grineva</dt>
                            <dd>COO</dd>
                        </dl>
                        <p>PhD in NLP and scalable data processing</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
