{% extends "one-column.html" %}

{% block pageHead %}
<h1 class="page-title">Orb's API Documentation</h1>
<a href="#" class="button __red hidden-sm-down"><i class="icon-play"></i> Get a Demo</a>
{% endblock %}

{% block primary %}
<div class="row">
    <div class="col-md-5 col-sm-6">
        <div class="docs_api-info">
            <h4>Settings</h4>
            <div class="docs_api-info_entry">
                <table>
                    <tr class="__option">
                        <td>
                            &lt;host&gt;
                        </td>
                        <td>
                            api.orb-intelligence.com
                        </td>
                    </tr>
                    <tr class="__option">
                        <td>
                            &lt;port&gt;
                        </td>
                        <td>
                            8095
                        </td>
                    </tr>
                    <tr class="__option">
                        <td>
                            &lt;api_key&gt;
                        </td>
                        <td>
                            your API key
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            You must specify a version number of the API in the URL
        (see examples below). The current version is 1.1
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="col-md-7 col-sm-6">
        <div class="docs_changelog">
            <h4>Changelog</h4>
            <h5>Version 1.1</h5>
            <ul class="docs_changelog_list">
                <li>Adds technology categorization and search for similar companies. It is not completely backwards compatible with version 1.</li>
                <li>The difference is that technologies in company profiles are now objects (instead of strings) which include technology name and category.</li>
            </ul>
            <div class="docs_changelog_old" data-change-log-body="true">
                <h5>Version 1.2</h5>
                <ul class="docs_changelog_list">
                    <li>Adds technology categorization and search for similar companies. It is not completely backwards compatible with version 1.</li>
                    <li>The difference is that technologies in company profiles are now objects (instead of strings) which include technology name and category.</li>
                </ul>
                <h5>Version 1.3</h5>
                <ul class="docs_changelog_list">
                    <li>Adds technology categorization and search for similar companies. It is not completely backwards compatible with version 1.</li>
                    <li>The difference is that technologies in company profiles are now objects (instead of strings) which include technology name and category.</li>
                </ul>
            </div>
            <a href="#" class="button __blue __small" data-change-log-toggle="true">Previous versions</a>
        </div>
    </div>
</div>
<div class="docs_item" data-toggle-id="0">
    <div class="docs_item_head">
        <div class="docs_item_group">
            <div class="docs_item_point">
                <h4>GET /search/companies</h4>
            </div>
            <div class="docs_item_descr">
                <p>Searches companies by one or many parameters</p>
            </div>
        </div>
        <div class="docs_item_controls">
            <a href="#" class="button __blue __small" data-toggle="0" data-toggle-entry="0">Parameters</a>
            <a href="#" class="button __blue __small" data-toggle="0" data-toggle-entry="1">Example</a>
        </div>
    </div>
    <div class="docs_item_entry" data-entry-id="0">
        <table>
            <thead>
                <tr>
                    <th>
                        Parameter name
                    </th>
                    <th>
                        Possible values
                    </th>
                    <th>
                        Default Values
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        name
                    </td>
                    <td>
                        Company’s name
                    </td>
                    <td>

                    </td>
                </tr>
                <tr>
                    <td>
                        webdomain
                    </td>
                    <td>
                        Company’s web domain (eg markologic.com)
                    </td>
                    <td>

                    </td>
                </tr>
                <tr>
                    <td>
                        industry
                    </td>
                    <td>
                        Company’s industry. Use GET /dictionaries/industries to get a list of all industy names.
                    </td>
                    <td>

                    </td>
                </tr>
                <tr>
                    <td>
                        naics_codes
                    </td>
                    <td>
                        Semicolon-separated list of NAICS codes. Use GET /dictionaries/naics_codes to get a list of all NAICS codes and their descriptions. The search is performed throught allNAICS codes, not only primary code. It is a prefix search: it matches a given code and more specific codes (for example, if you search for 42 the result will include companies with codes 42, 4238, 42399, etc. )
                    </td>
                    <td>

                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="docs_item_entry" data-entry-id="1">
        <div class="docs_item_entry_inner">
            <p>In a relatively short period of time, lead scoring, predictive analytics, and other innovative technologies have permanently transformed the way business-to-business (B2B) marketers and salespeople manage the sales funnel and close more business.</p>
            <p>In a relatively short period of time, lead scoring, predictive analytics, and other innovative technologies have permanently transformed the way business-to-business (B2B) marketers and salespeople manage the sales funnel and close more business.</p>
        </div>
    </div>
</div>
<div class="docs_item" data-toggle-id="1">
    <div class="docs_item_head">
        <div class="docs_item_group">
            <div class="docs_item_point">
                <h4>GET /search/companies</h4>
            </div>
            <div class="docs_item_descr">
                <p>Searches companies by one or many parameters</p>
            </div>
        </div>
        <div class="docs_item_controls">
            <a href="#" class="button __blue __small" data-toggle="1" data-toggle-entry="0">Parameters</a>
            <a href="#" class="button __blue __small" data-toggle="1" data-toggle-entry="1">Example</a>
        </div>
    </div>
    <div class="docs_item_entry" data-entry-id="0">
        <table>
            <thead>
                <tr>
                    <th>
                        Parameter name
                    </th>
                    <th>
                        Possible values
                    </th>
                    <th>
                        Default Values
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        name
                    </td>
                    <td>
                        Company’s name
                    </td>
                    <td>

                    </td>
                </tr>
                <tr>
                    <td>
                        webdomain
                    </td>
                    <td>
                        Company’s web domain (eg markologic.com)
                    </td>
                    <td>

                    </td>
                </tr>
                <tr>
                    <td>
                        industry
                    </td>
                    <td>
                        Company’s industry. Use GET /dictionaries/industries to get a list of all industy names.
                    </td>
                    <td>

                    </td>
                </tr>
                <tr>
                    <td>
                        naics_codes
                    </td>
                    <td>
                        Semicolon-separated list of NAICS codes. Use GET /dictionaries/naics_codes to get a list of all NAICS codes and their descriptions. The search is performed throught allNAICS codes, not only primary code. It is a prefix search: it matches a given code and more specific codes (for example, if you search for 42 the result will include companies with codes 42, 4238, 42399, etc. )
                    </td>
                    <td>

                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="docs_item_entry" data-entry-id="1">
        <div class="docs_item_entry_inner">
            <p>In a relatively short period of time, lead scoring, predictive analytics, and other innovative technologies have permanently transformed the way business-to-business (B2B) marketers and salespeople manage the sales funnel and close more business.</p>
            <p>In a relatively short period of time, lead scoring, predictive analytics, and other innovative technologies have permanently transformed the way business-to-business (B2B) marketers and salespeople manage the sales funnel and close more business.</p>
        </div>
    </div>
</div>
<div class="docs_item" data-toggle-id="2">
    <div class="docs_item_head">
        <div class="docs_item_group">
            <div class="docs_item_point">
                <h4>GET /search/companies</h4>
            </div>
            <div class="docs_item_descr">
                <p>Searches companies by one or many parameters</p>
            </div>
        </div>
        <div class="docs_item_controls">
            <a href="#" class="button __blue __small" data-toggle="2" data-toggle-entry="0">Parameters</a>
            <a href="#" class="button __blue __small" data-toggle="2" data-toggle-entry="1">Example</a>
        </div>
    </div>
    <div class="docs_item_entry" data-entry-id="0">
        <table>
            <thead>
                <tr>
                    <th>
                        Parameter name
                    </th>
                    <th>
                        Possible values
                    </th>
                    <th>
                        Default Values
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        name
                    </td>
                    <td>
                        Company’s name
                    </td>
                    <td>

                    </td>
                </tr>
                <tr>
                    <td>
                        webdomain
                    </td>
                    <td>
                        Company’s web domain (eg markologic.com)
                    </td>
                    <td>

                    </td>
                </tr>
                <tr>
                    <td>
                        industry
                    </td>
                    <td>
                        Company’s industry. Use GET /dictionaries/industries to get a list of all industy names.
                    </td>
                    <td>

                    </td>
                </tr>
                <tr>
                    <td>
                        naics_codes
                    </td>
                    <td>
                        Semicolon-separated list of NAICS codes. Use GET /dictionaries/naics_codes to get a list of all NAICS codes and their descriptions. The search is performed throught allNAICS codes, not only primary code. It is a prefix search: it matches a given code and more specific codes (for example, if you search for 42 the result will include companies with codes 42, 4238, 42399, etc. )
                    </td>
                    <td>

                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="docs_item_entry" data-entry-id="1">
        <div class="docs_item_entry_inner">
            <p>In a relatively short period of time, lead scoring, predictive analytics, and other innovative technologies have permanently transformed the way business-to-business (B2B) marketers and salespeople manage the sales funnel and close more business.</p>
            <p>In a relatively short period of time, lead scoring, predictive analytics, and other innovative technologies have permanently transformed the way business-to-business (B2B) marketers and salespeople manage the sales funnel and close more business.</p>
        </div>
    </div>
</div>
{% endblock %}
