{% extends "two-column.html" %}

{% import "macros/pagination.html" as pagination %}

{% set sidebarClasses = "hidden-md-down" %}

{% block pageHead %}
<h1 class="page-title">Orb's corporate blog</h1>
{% endblock %}

{% block primary %}
<article class="post">
    <div class="post_head">
        <h3>Choosing a Data Provider for your Business-to-Business Product, Part I: Market Landscape</h3>
    </div>
    <div class="post_meta">
        <a href="#" class="post_date">February 4, 2016</a>
        <a href="#">
            <dl class="post_author">
                <dd class="post_author_img">
                    <img src="assets/img/src/author-img.jpg" alt="" />
                </dd>
                <dt class="post_author_name">Maria Grineva</dt>
            </dl>
        </a>
    </div>
    <div class="post_entry">
        <img src="assets/img/src/content-img.jpg" alt="" />
        <p>In a relatively short period of time, lead scoring, predictive analytics, and other innovative technologies have permanently transformed the way business-to-business (B2B) marketers and salespeople manage the sales funnel and close more business.</p>
        <p>In a relatively short period of time, lead scoring, predictive analytics, and other innovative technologies have permanently transformed the way business-to-business (B2B) marketers and salespeople manage the sales funnel and close more business.In a relatively short period of time, lead scoring, predictive analytics, and other innovative technologies have permanently transformed the way business-to-business (B2B) marketers and salespeople manage the sales funnel and close more business.</p>
        <p>In a relatively short period of time, lead scoring, predictive analytics, and other innovative technologies have permanently transformed the way business-to-business (B2B) marketers and salespeople manage the sales funnel and close more business. In a relatively short period of time, lead scoring, predictive analytics, and other innovative technologies have permanently transformed the way business-to-business (B2B) marketers and salespeople manage the sales funnel and close more business.In a relatively short period of time, lead scoring, predictive analytics, and other innovative technologies have permanently transformed the way business-to-business (B2B) marketers and salespeople manage the sales funnel and close more business.</p>
        <img src="assets/img/src/content-img.jpg" alt="" />
        <h4>Company Data Provider Market Overview</h4>
        <p>In a relatively short period of time, lead scoring, predictive analytics, and other innovative technologies have permanently transformed the way business-to-business (B2B) marketers and salespeople manage the sales funnel and close more business.In a relatively short period of time, lead scoring, predictive analytics, and other innovative technologies have permanently transformed the way business-to-business (B2B) marketers and salespeople manage the sales funnel and close more business.</p>
        <h4>The space consists essentialy of:</h4>
        <p>In a relatively short period of time, lead scoring, predictive analytics, and other innovative technologies have permanently transformed the way business-to-business (B2B) marketers and salespeople manage the sales funnel and close more business. In a relatively short period of time, lead scoring, predictive analytics, and other innovative technologies have permanently transformed the way business-to-business (B2B) marketers and salespeople manage the sales funnel and close more business.In a relatively short period of time, lead scoring, predictive analytics, and other innovative technologies have permanently transformed the way business-to-business (B2B) marketers and salespeople manage the sales funnel and close more business.</p>
    </div>
    <div class="post_socials">
        <span class='st_facebook_hcount' displayText='Facebook'></span>
        <span class='st_twitter_hcount' displayText='Tweet'></span>
    </div>
</article>
{{ pagination.init('back') }}
{% endblock %}

{% block sidebar %}
{% include "partials/author-widget.html" %}
{% endblock %}
