{% extends "two-column.html" %}

{% import "macros/pagination.html" as pagination %}

{% set sidebarClasses = "hidden-sm-down" %}

{% block pageHead %}
<h1 class="page-title">Orb's corporate blog</h1>
{% endblock %}

{% block primary %}
<article class="post">
    <div class="post_head">
        <h3><a href="blog-single.html">Choosing a Data Provider for your Business-to-Business Product, Part I: Market Landscape</a></h3>
    </div>
    <div class="post_meta">
        <a href="#" class="post_date">February 4, 2016</a>
        <a href="#">
            <dl class="post_author">
                <dd class="post_author_img">
                    <img src="assets/img/src/author-img.jpg" alt="" />
                </dd>
                <dt class="post_author_name">Maria Grineva</dt>
            </dl>
        </a>
    </div>
    <div class="post_entry">
        <p>In a relatively short period of time, lead scoring, predictive analytics, and other innovative technologies have permanently transformed the way business-to-business (B2B) marketers and salespeople manage the sales funnel and close more business.</p>
        <a href="blog-single.html" class="btn-more">Read more <i class="icon-arrow-more"></i></a>
    </div>
</article>
<article class="post">
    <div class="post_head">
        <h3><a href="blog-single.html">Choosing a Data Provider for your Business-to-Business Product, Part I: Market Landscape</a></h3>
    </div>
    <div class="post_meta">
        <a href="#" class="post_date">February 4, 2016</a>
        <a href="#">
            <dl class="post_author">
                <dd class="post_author_img">
                    <img src="assets/img/src/author-img.jpg" alt="" />
                </dd>
                <dt class="post_author_name">Maria Grineva</dt>
            </dl>
        </a>
    </div>
    <div class="post_entry">
        <p>In a relatively short period of time, lead scoring, predictive analytics, and other innovative technologies have permanently transformed the way business-to-business (B2B) marketers and salespeople manage the sales funnel and close more business.</p>
        <a href="blog-single.html" class="btn-more">Read more <i class="icon-arrow-more"></i></a>
    </div>
</article>
<article class="post">
    <div class="post_head">
        <h3><a href="blog-single.html">Choosing a Data Provider for your Business-to-Business Product, Part I: Market Landscape</a></h3>
    </div>
    <div class="post_meta">
        <a href="#" class="post_date">February 4, 2016</a>
        <a href="#">
            <dl class="post_author">
                <dd class="post_author_img">
                    <img src="assets/img/src/author-img.jpg" alt="" />
                </dd>
                <dt class="post_author_name">Maria Grineva</dt>
            </dl>
        </a>
    </div>
    <div class="post_entry">
        <p>In a relatively short period of time, lead scoring, predictive analytics, and other innovative technologies have permanently transformed the way business-to-business (B2B) marketers and salespeople manage the sales funnel and close more business.</p>
        <a href="blog-single.html" class="btn-more">Read more <i class="icon-arrow-more"></i></a>
    </div>
</article>
<article class="post">
    <div class="post_head">
        <h3><a href="blog-single.html">Choosing a Data Provider for your Business-to-Business Product, Part I: Market Landscape</a></h3>
    </div>
    <div class="post_meta">
        <a href="#" class="post_date">February 4, 2016</a>
        <a href="#">
            <dl class="post_author">
                <dd class="post_author_img">
                    <img src="assets/img/src/author-img.jpg" alt="" />
                </dd>
                <dt class="post_author_name">Maria Grineva</dt>
            </dl>
        </a>
    </div>
    <div class="post_entry">
        <p>In a relatively short period of time, lead scoring, predictive analytics, and other innovative technologies have permanently transformed the way business-to-business (B2B) marketers and salespeople manage the sales funnel and close more business.</p>
        <a href="blog-single.html" class="btn-more">Read more <i class="icon-arrow-more"></i></a>
    </div>
</article>
<article class="post">
    <div class="post_head">
        <h3><a href="blog-single.html">Choosing a Data Provider for your Business-to-Business Product, Part I: Market Landscape</a></h3>
    </div>
    <div class="post_meta">
        <a href="#" class="post_date">February 4, 2016</a>
        <a href="#">
            <dl class="post_author">
                <dd class="post_author_img">
                    <img src="assets/img/src/author-img.jpg" alt="" />
                </dd>
                <dt class="post_author_name">Maria Grineva</dt>
            </dl>
        </a>
    </div>
    <div class="post_entry">
        <p>In a relatively short period of time, lead scoring, predictive analytics, and other innovative technologies have permanently transformed the way business-to-business (B2B) marketers and salespeople manage the sales funnel and close more business.</p>
        <a href="blog-single.html" class="btn-more">Read more <i class="icon-arrow-more"></i></a>
    </div>
</article>
{{ pagination.init('', 'hidden-md-down') }}
<div class="posts-footer hidden-lg-up">
    <a href="#" class="button __blue">More news</a>
</div>
{% endblock %}

{% block sidebar %}
{% include "partials/promo-widget.html" %}
{% endblock %}
