{% extends "one-column.html" %}

{% block pageHead %}
<h1 class="page-title">Contacts</h1>
{% endblock %}

{% block primary %}
<div class="contacts">
    <div class="row">
        <div class="col-md-6">
            <ul class="contacts_list">
                <li class="contacts_item">
                    <h3>Orb Intelligence Headquarters</h3>
                    <address class="contacts_item_address">
                        <i class="icon-build-n"></i>
                        <p>588 Channing Ave, <br> Palo Alto, CA 94301</p>
                    </address>
                </li>
                <li class="contacts_item">
                    <h3>Orb Intelligence Engeneering center</h3>
                    <address class="contacts_item_address">
                        <i class="icon-build-n"></i>
                        <p>1088 Morgan Ave, <br> Palo Alto, CA 94052</p>
                    </address>
                </li>
            </ul>
        </div>
        <div class="col-md-6">
            <!-- BEGIN .cases_promo -->
            <div class="contacts_phone">
                <span class="cases_promo_phone_wrap">
                    <a href="tel:650-391-42-98" class="cases_promo_phone"><i class="icon-phone"></i> 650-391-42-98</a>
                </span>
                <span class="contacts_phone_descr">Call Sales</span>
                <a href="ajax/contacts-popup.html" class="button __red" data-ajax-popup="true">Contact us</a>
            </div>
            <!-- END .cases_promo -->
        </div>
    </div>
</div>
{% endblock %}
