{% extends "two-column.html" %}

{% set bodyClasses = "__bg-white" %}

{% block pageHead %}
<h1 class="page-title">Our data</h1>
{% endblock %}

{% block primary %}
<h3><span class="icon-aligner"><i class="icon-badge"></i></span>Precise company identification</h3>
<p>In Orb database company identification is based on the notion of business entity (not on website, nor location, etc). Company can sell its web domain or move to another location - we track all such changes without losing company identity. In particular, we don’t merge companies that have the same name, we don’t merge subsidiaries that share the same website and/or location.  Business entities include both legal entities (e.g. corporations, LLC, etc) and sole proprietors (as the majority of businesses in the US are sole proprietors).</p>
<h3><span class="icon-aligner"><i class="icon-oone"></i></span>Orb Number</h3>
<p>Each business entity has a unique numeric identifier called Orb Number. Orb number is persistent: it does not change overtime and will always be assigned to the entity. Orb number helps you to solve key problems of customer data management:</p>
<p>Orb Number can be used as unique identifier in critical record-keeping applications such as CRM and ERP: customer interactions, billing transactions, deliveries can be assigned to an Orb number and we make sure that this Orb number is always assigned to the same company. Also it means that you can store an Orb number and can get updated information from our database about the company any time later.</p>
<p>Use Orb database as a master database to which you can attach any additional information without the risk to lose the identity of the information.</p>
<p>Link disparate databases via Orb Number: By matching records from your disparate databases onto Orb Numbers you link those databases together and identify duplicate records in each database.</p>
<h3><span class="icon-aligner"><i class="icon-net"></i></span>Corporate family tree</h3>
<p>With Orb’s corporate family tree, you can quickly identify company relationships across locations and ownership to discover new cross-sell opportunities. Orb provides two types of company family relationships: Headquarters/Branch or Parent/Subsidiary. <br>
    Headquarters represents the whole company. Address of headquarters stored as an attribute of the company profile. <br>
    Branch is a secondary location of a company. It has no legal responsibility for itself and is a part of the company. Branch profile is stored separately from the company profile and has reference to the parent as its attribute. <br>
    Parent is a company that owns more than 50% of another corporation. <br>
    Subsidiary is a company that is more than 50% owned by another company (parent) and will have a different legal business name from its parent company. A company profile that represents a subsidiary has reference to the parent company as its attribute.</p>
<h3><span class="icon-aligner"><i class="icon-glob"></i></span>Coverage</h3>
<p>We collect information on all companies currently focusing on the United States with plans to go globally later. Every company regardless of its size, industry or years in business should be in our database. The areas that we cover include but not limited to:</p>
<ul>
    <li>All public and large private companies</li>
    <li>Medium and small companies including young startup companies</li>
    <li>Local businesses such as restaurants, car repair shops, laundries, grocery stores and so on.</li>
</ul>
<p>We pay special attention to collecting all locations of large chains of supermarkets, restaurants, drug stores, etc. For example, you get accurate lists of all Walmart or Starbucks locations.</p>
<h3><span class="icon-aligner"><i class="icon-doc"></i></span>Sources of Information</h3>
<p>All our data is collected from public original sources such as company filings, company websites, press releases, and news. We do not compile or resell data from third-party data providers.</p>
<h3><span class="icon-aligner"><i class="icon-blank-s"></i></span>List of Standardized Fields</h3>
<p>Company profile has the following fields:</p>
<div class="row">
    <div class="col-sm-6">
        <ul>
            <li>Name</li>
            <li>Medium and small companies including young startup companies</li>
            <li>All names of the company including differents spellings, abbreviations and DBA names</li>
            <li>Website</li>
            <li>All email and web domains of the company</li>
            <li>Description</li>
            <li>SIC code</li>
        </ul>
    </div>
    <div class="col-sm-6">
        <ul>
            <li>Name</li>
            <li>Medium and small companies including young startup companies</li>
            <li>All names of the company including differents spellings, abbreviations and DBA names</li>
            <li>Website</li>
            <li>All email and web domains of the company</li>
            <li>Description</li>
            <li>SIC code</li>
        </ul>
    </div>
</div>
<h3><span class="icon-aligner"><i class="icon-loup"></i></span>Search Criteria</h3>
<p>Values are normalized and assigned to companies to support search by following criteria:
Lookup a company by email or web domain. Email and web domains are uniquely assigned to a company that is tricky in the presence of corporate family tree and a large number of hosting companies on the Web. By providing unique mapping we make domain lookup simple for you.
Look up a company by name. Name is not an unique company identifier. For many names you will find several different companies even if reduce the search by location attributes. To simplify name lookup in our API we rank the results so that you get the most popular company first.
Look up a company by filing ID: SEC CIK, EIN.</p>
<p>Build list by any combination of the fields: location, NAICS, SIC, Industry, number of employee, revenue.</p>
<h3><span class="icon-aligner"><i class="icon-signal"></i></span>Additional Signal</h3>
<p>We collect a wide range of signals about companies that help you to segment companies and run advanced analytics: <br>
    Social network accounts: Facebook, Twitter, LinkedIn, Youtube, Google+ <br>
    Funding: total funding, year of last funding, last funding amount <br>
    Technologies installed on company websites <br>
    Business categories that is much more precise description than NAICS</p>
<h3><span class="icon-aligner"><i class="icon-bases"></i></span>Vertical databases</h3>
<p>1) 100% coverage of the US higher education: complete records (including industry, address, employee/revenue, website, phone, etc) for all public and private universities and colleges in the US. Very accurate data. Includes corporate family tree. Total number of organizations is 7764. Public and private schools are coming soon.</p>
<p>2) US Federal Government: very solid coverage for all three branches with corporate family tree. It is currently about 480 entities.</p>
{% endblock %}

{% block sidebar %}
{% include "partials/promo-widget.html" %}
{% endblock %}
