{% extends "full-width.html" %}

{% block primary %}
<!-- BEGIN .container -->
<div class="container">
    <!-- BEGIN .page-header -->
    <div class="page-header">
        <h1 class="page-title">Solutions for Marketing Software Vendors and B2B Marketing Agencies</h1>
    </div>
    <!-- END .page-header -->
</div>
<!-- END .container -->
<!-- BEGIN .section -->
<div class="section __lined">
    <!-- BEGIN .container -->
    <div class="container">
        <div class="row">
            <div class="col-sm-4 col-md-5">
                <div class="cases_item __boxed">
                    <div class="cases_item_icon">
                        <i class="icon-cases-loup hidden-md-down"></i>
                        <i class="icon-cases-loup-m hidden-lg-up"></i>
                    </div>
                    <div class="cases_item_text">
                        <h3>Match and Augment Your Customer Data</h3>
                    </div>
                    <a href="use-cases-item.html" class="button __red __small">Get details</a>
                </div>
            </div>
            <div class="col-sm-8 col-md-7">
                <ul class="cases_list">
                    <li class="cases_list_item">
                        <div class="cases_list_icon">
                            <i class="icon-doc-m"></i>
                        </div>
                        <div class="cases_list_text">
                            <h4>Augment your data</h4>
                            <p>Trusted data drives successful customer engagement. Enhance your accounts with detailed information from Orb database to run targeted campaigns.</p>
                        </div>
                    </li>
                    <li class="cases_list_item">
                        <div class="cases_list_icon">
                            <i class="icon-user-get-m"></i>
                        </div>
                        <div class="cases_list_text">
                            <h4>Increase your match rate</h4>
                            <p>Enhance your accounts with detailed information from Orb database to run targeted campaigns.</p>
                        </div>
                    </li>
                    <li class="cases_list_item">
                        <div class="cases_list_icon">
                            <i class="icon-branches-m"></i>
                        </div>
                        <div class="cases_list_text">
                            <h4>Link branches and subsidiaries</h4>
                            <p>Link branches and subsidiaries in your client's universe to unlock new upsell and cross-sell opportunities.</p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- END .container -->
</div>
<!-- END .section -->
<!-- BEGIN .section -->
<div class="section __lined">
    <!-- BEGIN .container -->
    <div class="container">
        <div class="row">
            <div class="col-sm-4 col-md-5">
                <div class="cases_item __boxed">
                    <div class="cases_item_icon">
                        <i class="icon-cases-base hidden-md-down"></i>
                        <i class="icon-cases-base-m hidden-lg-up"></i>
                    </div>
                    <div class="cases_item_text">
                        <h3>Master Data Management: Link Disparate Databases Across the Enterprise</h3>
                    </div>
                    <a href="use-cases-item.html" class="button __red __small">Get details</a>
                </div>
            </div>
            <div class="col-sm-8 col-md-7">
                <ul class="cases_list">
                    <li class="cases_list_item">
                        <div class="cases_list_icon">
                            <i class="icon-bases-link"></i>
                        </div>
                        <div class="cases_list_text">
                            <h4>Link your databases via Orb Number</h4>
                            <p>Building a single customer view across all internal databases is a critical component of effective marketing for any large organization. Orb offers a way to unify data from all those databases around the identity of each business it relates to. </p>
                        </div>
                    </li>
                    <li class="cases_list_item">
                        <div class="cases_list_icon">
                            <i class="icon-book"></i>
                        </div>
                        <div class="cases_list_text">
                            <h4>Reference database is the key component of a successful MDM strategy</h4>
                            <p>Using a good master data management solution ensures that the same set of data is used throughout the organisation, regardless of the system, platform, department or business unit using it. Accurate and complete reference database and unique company identification mechanism are the key to a clean master database.</p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- END .container -->
</div>
<!-- END .section -->
<!-- BEGIN .section -->
<div class="section">
    <!-- BEGIN .container -->
    <div class="container">
        <div class="row">
            <div class="col-sm-4 col-md-5">
                <div class="cases_item __boxed">
                    <div class="cases_item_icon">
                        <i class="icon-cases-pc hidden-md-down"></i>
                        <i class="icon-cases-pc-m hidden-lg-up"></i>
                    </div>
                    <div class="cases_item_text">
                        <h3>Activate Advanced Analytics</h3>
                    </div>
                    <a href="use-cases-item.html" class="button __red __small">Get details</a>
                </div>
            </div>
            <div class="col-sm-8 col-md-7">
                <ul class="cases_list">
                    <li class="cases_list_item">
                        <div class="cases_list_icon">
                            <i class="icon-glob-l"></i>
                        </div>
                        <div class="cases_list_text">
                            <h4>Complete coverage plus detailed signals</h4>
                            <p>Predictive analytics is becoming a big part of modern marketing: scoring new leads, identifying cross-sell opportunities with existing clients, measuring the success of campaigns across different market segments.</p>
                        </div>
                    </li>
                    <li class="cases_list_item">
                        <div class="cases_list_icon">
                            <i class="icon-bases-l"></i>
                        </div>
                        <div class="cases_list_text">
                            <h4>Easy-to-use REST API</h4>
                            <p>We provide powerful REST API to request company information by company web/email domain or name. Our unique domain-to-company mapping makes it truly easy to look up company by web/email domain.</p>
                        </div>
                    </li>
                    <li class="cases_list_item">
                        <div class="cases_list_icon">
                            <i class="icon-doc-get"></i>
                        </div>
                        <div class="cases_list_text">
                            <h4>Full data export for real-time modeling</h4>
                            <p>For applications such as web advertising where real-time is an requirement we provide a full export of all data points in an easy-to-use CSV format. </p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- END .container -->
</div>
<!-- END .section -->
{% endblock %}
